.row{
    padding: 20px;
}
.contenedor{
    width: auto;
}
.parte1, .parte2{
display: inline-block;
text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 10px 30px #000000;
    width: 100%;
}
.container, .row,.card{
    /* fallback for old browsers */
    background: #6a11cb;
   
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))


}
p,h1,h2,h3,.card-title{
    color: antiquewhite;
}