<div class="row" *ngIf="proyectos">
    <h1>Proyectos</h1>
    <div class="container">
        <div class="col-lg-2" id="proyecto">
            <button type="button" class="btn btn-success" routerLink="/newproyecto" *ngIf="isLogged">
                Nuevo Proyecto
            </button>
            <br>
            <br>
        </div>
        <div class="col-lg-11">
            <div class="card" style="width: 18rem;" *ngFor="let Proyectos of proyectos">
                <img class="card-img-top" src={{Proyectos.img}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{Proyectos.nombreP}}</h5>
                    <p class="card-text">{{Proyectos.descripcionP}}</p>
                    <a href={{Proyectos.url}} target="_blank"><button class="btn btn-dark">Link Proyecto</button></a>
                
                    </div>
                <div>
                    <button class="btn btn-success" routerLink="/editproyecto/{{Proyectos.id}}" *ngIf="isLogged">
                        <i class="bi bi-pen-fill"></i> </button>
                    <button class="btn btn-danger" (click)="delete(Proyectos.id)" *ngIf="isLogged">
                        <i class="bi bi-file-x-fill"></i> </button>
                </div>
            </div>
        </div>
    </div>

</div>