<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="../../../assets/image/3.jpg" class="img-fluid" id="fotoperfil">
</div>
<div class="col-xs-12 col-sm2 col-md-2 col-lg-2">
    <p><strong>{{persona.nombre}} {{persona.apellido}}</strong></p>
    <p><strong>Full Stack Devolper jr</strong></p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
<span>
    <h1>Acerca de mí</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dicta, accusantium, ullam ipsum quas aspernatur officiis aut sunt vel, nobis temporibus ad libero provident nesciunt natus porro quasi eos quaerat.</p>
</span>
</div>
</div>